.background-header {
  background-image: url(../images/header-background.jpg);
  background-size: cover;
  height: 650px;
  background-position: 50% -200px;
  width: 100%;
  visibility: inherit;
  z-index: 20;
  background-repeat: no-repeat;
  position: relative;
}
.navigation {
  padding-top: 20px;
}
.brand-image {
  padding-top: 5px;
  width: 30px;
  height: 30px;
  margin: 0 35px;
}
.nav-link {
  font-size: 12px;
}
.header-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.overlay {
  width: 1000px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  position: absolute;
  top: 50;
  left: 0;
  display: initial;
  z-index: 999;
  background-color: rgba(81, 81, 81, 0.9);
  min-width: 300px;
  padding: 10px 15px;
  border-radius: 0;
}
.dropdown-item {
  padding: 5px;
  font-size: 13px;
  color: white;
}
.dropdown-item:hover {
  background: linear-gradient(
    135deg,
    rgba(30, 187, 240, 0.07) 30%,
    rgba(57, 223, 170, 0.07) 100%
  );
}
.dropdown-item:hover .sub-menu-item-text {
  background: -webkit-linear-gradient(left, #1ebbf0 30%, #39dfaa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown:hover .nav-link + .dropdown-menu {
  visibility: visible;
  margin-top: 0;
  opacity: 1;
}
.social {
  top: 26px;
  right: 144px;
}
.social-icon {
  width: 25px;
  height: 25px;
  background-color: #494949;
  padding-top: 2px;
  font-size: 12px;
}
a:hover .social-contact {
  background: rgba(255, 255, 255, 0.45);
}

.dropdown:hover .nav-link .underline-animated span::before {
  visibility: visible;
  transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  opacity: 1;
}
.nav-link:hover .underline-animated span::before {
  visibility: visible;
  transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  opacity: 1;
}
.activate .underline-animated span::before {
  visibility: visible;
  transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  opacity: 1;
}
.underline-animated span::before {
  position: absolute;
  visibility: hidden;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  opacity: 0.85;
}

.sologan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  color: white;
  max-width: 700px;
  z-index: 0;
}
.sologan h1 {
  font-family: "GlossBloom";
  font-size: 100px;
}
.opentime {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(136, 152, 135, 0.8);
}
.opentime p {
  margin-top: 30px;
  font-size: 30px;
}
.direct-body {
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: white;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
}
.direct-body:hover {
  opacity: 0.8;
}
.direct-body-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  width: 45%;
  padding-top: 20px;
}
.footer-item {
  font-size: 12px;
}
.footer-item p {
  margin-bottom: 10px;
}
.footer-title {
  font-size: 14px;
}
.footer-address:hover {
  background: -webkit-linear-gradient(left, #1ebbf0 30%, #39dfaa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-explore {
  text-transform: uppercase;
}
.footer-explore:hover {
  background: -webkit-linear-gradient(left, #1ebbf0 30%, #39dfaa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
.footer-form label {
  font-size: 12px;
}
.footer-form input {
  border-radius: 0;
  font-size: 12px;
}
.footer-form input:focus {
  box-shadow: none;
  border-color: #787d85;
}
.footer-form button {
  width: 100%;
  border-radius: 0;
  background-color: #3f677a;
  border-color: initial;
}
.footer-form button:hover {
  background-color: #556f7a;
}
.footer-form .form-group {
  margin-bottom: 8px;
}
.footer-icon {
  background-color: transparent !important;
  transition: all 2s;
  width: 30px;
  height: 30px;
}
.footer a:hover .social-contact {
  background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
}
.footer a:hover .social-contact i {
  color: #fff !important;
}
.footer .social-contact i {
  padding-top: 5px;
  font-size: 15px;
}
.sub-footer {
  background-color: #333132;
  height: 50px;
}
.sub-footer .brand-image {
  width: 100px;
  padding-top: 10px;
  margin-right: 0px;
}
.sub-footer img {
  width: 75px;
}
.sub-footer-address {
  padding-top: 12px;
  font-size: 14px;
  color: white;
}
.scroll-button {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 7px;
  position: fixed;
  bottom: 5px;
  right: 15px;
  transition: all 0.3s;
}
.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.scroll-button i {
  color: white;
  font-size: 20px;

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
.full-container {
  padding: 0;
}
.visit-us-content {
  background-color: #92a993;
  height: 400px;
  padding: 60px;
}
.visit-us-content p {
  font-size: 18px;
  color: white;
}
#believe {
  background-color: #444;
}
.believe-wrap {
  padding: 60px 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.believe-wrap h2 {
  font-size: 40px;
  color: white;
  font-weight: 300;
  padding-bottom: 10px;
}
.believe-wrap p {
  font-size: 18px;
  color: white;
}
#career {
  background-image: url(../images/Sharing-the-Love.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}
.career-item {
  text-align: center;
  padding: 20px 30px;
}
.career-button {
  border-color: white;
  border-width: 2px;
  color: white;
  padding: 8px 20px;
  transition: all 0.5s;
  background-color: transparent;
}
.career-button:hover {
  background-color: white;
  color: #666;
}
.career-button span {
  margin-left: 10px;
  color: white;
  font-size: 13px;
}
.career-button:hover span {
  color: #666;
}
