.background-header {
  background-image: url(../images/header-background.jpg);
  background-size: cover;
  height: 1000px;
  background-position: 50% -200px;
  width: 100%;
  transform: translate(0px, 0px);
  visibility: inherit;
  z-index: 20;
  background-repeat: no-repeat;
}
.navigation {
  padding-top: 20px;
}
.brand-image {
  padding-top: 5px;
  width: 30px;
  height: 30px;
  margin: 0 35px;
}
.nav-link {
  font-size: 12px;
}
.overlay {
  width: 1000px;
}
.social {
  top: 26px;
  right: 144px;
}
.social-icon {
  width: 25px;
  height: 25px;
  background-color: #494949;
  padding-top: 2px;
  font-size: 12px;
}
